@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #050505;
        --background: #fafafa;
        --primary: #a627ff;
        --secondary: #fbd0f7;
        --accent: #e817d3;
    }

    .dark {
        --text: #fafafa;
        --background: #050505;
        --primary: #7e32b6;
        --secondary: #3f1a3b;
        --accent: #e817d3;
    }
}

body {
    @apply transition-all bg-background text-text px-24 antialiased font-sans
}